<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="index.html">
        <span class="logo-name">Cart Verse</span>
      </a>
    </div>
    <ul class="sidebar-menu">
      <li class="menu-header">General</li>

      <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"
          ><i data-feather="monitor"></i><span>Dashboard</span></a
        >
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="/dashboard">Default</a></li>
        </ul>
      </li>

      <li class="menu-header">User Module</li>
      <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"
          ><i data-feather="user-check"></i><span> Permissions</span></a
        >
        <ul class="dropdown-menu">
          <li>
            <a class="nav-link" href="/dashboard/permissions"
              >All Permissions</a
            >
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"
          ><i data-feather="user-plus"></i><span>Roles</span></a
        >
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="/dashboard/roles">All Roles</a></li>
          <li>
            <a class="nav-link" href="/dashboard/roles/add">Add New Role</a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown">
          <i data-feather="shield"></i> <span>Admins</span></a
        >
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="/dashboard/admins">All Admins</a></li>
          <li>
            <a class="nav-link" href="/dashboard/admins/add">Add Admin</a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"
          ><i data-feather="users"></i><span>Users</span></a
        >
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="/dashboard/users">All Users</a></li>
        </ul>
      </li>
      <li class="menu-header">Product Module</li>
      <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown">
          <i data-feather="box"></i> <span>Products</span></a
        >
        <ul class="dropdown-menu">
          <li>
            <a class="nav-link" href="/dashboard/products">All Products</a>
          </li>
          <li>
            <a class="nav-link" href="/dashboard/products/add">Add New</a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown">
          <i data-feather="grid"></i> <span>Product Category</span></a
        >
        <ul class="dropdown-menu">
          <li>
            <a class="nav-link" href="/dashboard/categories">All Category</a>
          </li>
          <li>
            <a class="nav-link" href="/dashboard/categories/add"
              >Add New Category</a
            >
          </li>
        </ul>
      </li>

      <li class="menu-header">Transaction Module</li>
      <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown">
          <i data-feather="shopping-cart"></i>

          <span>Products Purchase</span></a
        >
        <ul class="dropdown-menu">
          <li>
            <a class="nav-link" href="/dashboard/purchases"
              >Products Purchase List</a
            >
          </li>

          <li>
            <a href="/dashboard/purchases/sold-products">My Sold Products</a>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown">
          <i data-feather="heart"></i> <span>Wishlist</span></a
        >
        <ul class="dropdown-menu">
          <li>
            <a class="nav-link" href="/dashboard/wishlists">All Wishlist</a>
          </li>
        </ul>
      </li>
    </ul>
  </aside>
</div>
